@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --title-color: hsl(292, 42%, 14%);
  --text-color: hsl(292, 16%, 49%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  background: url(./assets/images/background-pattern-mobile.svg) no-repeat;
  background-color: hsl(275, 100%, 97%);
  background-size: contain;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  background: #fff;
  width: 80vw;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.container .faq {
  display: flex;
  gap: 20px;
  color: var(--title-color);
}

.container .faq h1 {
  font-weight: 700;
}

.container .faq img {
  width: 25px;
}

.container .faq-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--title-color);
  font-weight: 600;
  font-size: 12px;
  padding: 10px 0px 10px 0px;
}

.container .faq-title:hover {
  color: rgb(138, 66, 138);
  cursor: pointer;
}

.container .panel {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0px 20px 0px;
}

.container .faq-title img {
  cursor: pointer;
}

.hidden {
  display: none;
}

.attribution {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
}

.container hr {
  border: 1px solid #d3d3d3;
}

@media (max-width: 375px) {
  .container {
    transition: 0.5s ease-out;
  }
}

@media (min-width: 375px) {
  body {
    background: url(assets/images/background-pattern-desktop.svg) no-repeat;
    background-color: hsl(275, 100%, 97%);
  }

  .container {
    width: 350px;
    transition: 0.5s ease-out;
  }
}

@media (min-width: 565px) {
  body {
    background: url(assets/images/background-pattern-desktop.svg) no-repeat;
    background-color: hsl(275, 100%, 97%);
  }

  .container {
    width: 550px;
    transition: 0.5s ease-out;
  }
}

@media (min-width: 1440px) {
  body {
    background-size: contain;
  }
}
